<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="/socket.io/socket.io.js"></script>
	<title></title>
</head>
<body>
	<button id="playerbtn">播放</button>
	<script>
		//定义一些初始化数据
		var socket = io.connect('http://198.9.6.203:3000');
		var playerbtn=document.getElementById("playerbtn");
		playerbtn.onclick=function(){
			socket.emit('padId', {
				"name": 'zhantai',
				"url": '11111'
			}); //进入页面向app发送消息
		}
		
		socket.on('message', function(data) {
			console.log("收到消息了")
		})
		
		
	</script>
</body>
</html>